.chat-main
  .chat-main__info
    .chat-main__info__names
      %p.chat-main__info__names__groupe
        = @group.name
      .chat-main__info__names__name
        %p= "Member:"
        - @group.users.each do |user|
          %p= user.name + ","
    = link_to "Edit" , edit_group_path(@group) , class: "chat-main__info__edit" 
  .chat-main__message-list
    .MessageField
      = render @messages
  .chat-main__send-message
    = form_with model: [@group, @message], html: {class: "messages"}, local: true do |f|
      = f.text_field :content, class: 'chat-main__send-message__messages__type-message', placeholder: 'type a message'
      = f.label :image, class: 'chat-main__send-message__messages__type-message__send-image' do
        = icon('fa', 'image', class: 'Form__icon')
        = f.file_field :image, class: 'chat-main__send-message__messages__type-message__send-image__none'
      = f.submit 'Send', class: 'chat-main__send-message__send-button'